.rp-scene {
  display: flex;
}

.rp-video-wrapper {
  flex: 1;
}

.rp-video {
  width: 100%;
  height: auto;
}

.rp-seeker {
  display: flex;
  flex: 1;
  height: 1rem;
  position: relative;
}

.rp-seeker-bar {
  flex: 1;
  height: 100%;
  background: #dddddd;
  cursor: pointer;
}

.rp-seeker-viewed,
.rp-seeker-buffered {
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
}

.rp-seeker-viewed {
  background: #268080;
}

.rp-seeker-buffered {
  background: #a7d2d2;
}

.rp-seeker-float {
  display: none;
  min-width: 3rem;
  padding: 0.2rem 0.4rem;

  position: absolute;
  top: -1rem;

  background: white;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  user-select: none;

  text-align: center;
  font-size: 0.7rem;
}

.rp-controls {
  display: flex;
  align-items: center;
}

.rp-button {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem 0 0;

  background: darkorange;
  border: none;
  border-radius: 0.5rem;

  cursor: pointer;
}

.rp-button::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.rp-button-pause::before {
  content: ' ▌▌';
  left: 3px;
}

.rp-button-play::before {
  position: absolute;
  content: '►';
  left: 2px;
  font-size: 1.75rem;
}

.rp-seeker-duration-display {
  font-size: 0.85rem;
  margin-left: 0.5rem;
}

.rp-diagnostic {
  opacity: 0;
  background: white;
  padding: 0.5rem;
  position: fixed;
  height: 10rem;
  width: 6rem;
  overflow-y: scroll;
  pointer-events: none;
  user-select: none;
}